body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

.header,
.content1,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: light;
}


.content1 .title {
    font-size: 48px;
    font-weight: bolder;
}

.content1 .text {
    font-size: 18px;
    font-weight: 100;
}

.button {
    color: white;
    background-color: #3882f2;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}
.content2,
.content3 {
    color: #1f2937;
}

.content2 .title {
    font-size: 36px;
    font-weight: bolder;
}

.content3 {
    background-color: #e5e7eb;
    padding: 36px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.signature {
    font-weight: bold;
}

.content4 {
    color:#f9faf8;
    background-color: #3882f2;
    margin: 48px;
    padding: 24px;
    border-radius: 10px;
}

.content4 .button {
    border: solid white;
}


/*Flexbox starts HERE*/

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
}

ul {
    display: flex;
    gap: 8px;
    align-items: center;
}

/*The section above includes flexbox for the heading*/

.content1 {
    padding: 60px 120px 100px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1 .left {
    max-width: 500px;
    flex: 1;
}

.content1 .button {
    margin-top: 12px;
}

.video {
    max-width: 500px;
    margin: 0 50px;
    vertical-align: center;
    flex: 1;
}

/*The section above includes flexbox for the content 1 section*/

.content2 {
    text-align: center;
    padding: 40px 120px 100px 120px;
}
.content2 .info {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.item {
    max-width: 200px;
}

.item .image {
    height: 150px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 3px solid #3882f2;
}

/*The CSS above includes flexbox and tweeks for content 2 section*/

